h1 {
  color: blueviolet;
  }
  body {
    margin: 0;
    background-color: azure;
    text-align: center;
  }
  .box {
  margin: 5px;
  border: 5px;
  border-color: black;
  display: flex;
  align-items: center;
  }